VITE_TEST_SERVER_EMAIL=your_college_email
VITE_TEST_SERVER_NAME=your_full_name
VITE_TEST_SERVER_ROLL_NO=your_roll_number
VITE_TEST_SERVER_ACCESS_CODE=your_access_code
VITE_TEST_SERVER_CLIENT_ID=your_client_id
VITE_TEST_SERVER_CLIENT_SECRET=your_client_secret
VITE_NOTIFICATIONS_API_URL=http://127.0.0.1:4000/notifications
