VITE_AFFORDMED_EMAIL=nimmakayalapawankumar.23.csm@anits.edu.in
VITE_AFFORDMED_NAME=Nimmakayala Pawan kumar
VITE_AFFORDMED_ROLL_NO=A23126552166
VITE_AFFORDMED_ACCESS_CODE=your_access_code
VITE_AFFORDMED_CLIENT_ID=your_client_id
VITE_AFFORDMED_CLIENT_SECRET=your_client_secret
VITE_NOTIFICATIONS_API_URL=http://127.0.0.1:4000/notifications
