AFFORDMED_EMAIL=nimmakayalapawankumar.23.csm@anits.edu.in
AFFORDMED_NAME=Nimmakayala Pawan kumar
AFFORDMED_ROLL_NO=A23126552166
AFFORDMED_ACCESS_CODE=MTqxar
AFFORDMED_CLIENT_ID=3a24e239-1ba5-4d9d-97d5-511258275ba6
AFFORDMED_CLIENT_SECRET=fepxyAYzsXtKhbQn
PORT=4000
