TEST_SERVER_EMAIL=your_college_email
TEST_SERVER_NAME=your_full_name
TEST_SERVER_ROLL_NO=your_roll_number
TEST_SERVER_ACCESS_CODE=your_access_code
TEST_SERVER_CLIENT_ID=your_client_id
TEST_SERVER_CLIENT_SECRET=your_client_secret
PORT=4000
